{% extends 'base.html.twig' %}
{% block title %}Create issues{% endblock %}
{% block body %}
    <h1 class="my-4">Create an issue</h1>
    {% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
    {{ form(form) }}
{% endblock %}
